.blog-post-heading {
    @apply text-20px sm:text-25px font-bold text-gray-450 leading-xtight relative mb-8;

    &:before {
        content: '';
        display: block;
        border-bottom: 3px solid #0b4784;
        position: absolute;
        bottom: -18px;
        left: 0;
        width: 82px;
    }
}
