.section-footer-heading {
    @apply text-22px lg:text-25px font-bold relative;
    padding-top: 26px;
    margin-bottom: 26px;

    &:before {
        content: '';
        display: block;
        border-bottom: 2px solid #0b4784;
        position: absolute;
        bottom: -14px;
        left: 0;
        width: 82px;
    }
}
