.main-menu {
    z-index: 100;
}

.header-search-input {
    @apply absolute bottom-0 right-0 bg-white rounded-md py-2;
    margin-bottom: -56px;
    margin-right: 66px !important;
    width: 270px;
}
