@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "_global.pcss";
@import "_fonts.pcss";
@import "_footer.pcss";
@import "_main-menu.pcss";
@import "_sliders.pcss";
@import "_doctors.pcss";
@import "_blog.pcss";
@import "_feedback.pcss";
@import "_wysiwyg.pcss";
@import "_search.pcss";
